body {
  font-family: 'Roboto', 'sans-serif';
}

.App {
  text-align: center;
  background-image: url('./img/correct-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  &_zone_danger {
      background-image: url('./img/girlfrend-mode-bg.jpg');
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* buttons */

.main__button {
  margin-right: 15px !important;
}

/* modal */

.modal {
  display: grid;
  grid-template-columns: 1fr [start] 1fr 1fr 1fr [end] 1fr;
  grid-template-rows: 1fr [start] 1fr 1fr 1fr [end] 1fr;
  height: 100%;
  padding: 10px;
  /* position: absolute; */

  
  &__container {
    /* width: 300px;
    height: 300px; */
    background: #fff;
    grid-column: span 3;
    grid-column: start / end;
    grid-row: start / end;
    /* grid-row: span 3; */
    display: flex;
    flex-direction: column;
  }

  &__header {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-size: 12px;
    box-shadow: 0 0 9px -2px rgba(0, 0, 0, 0.5);
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}

/* .main {
  &__button {
    &_red {
      background-color: rgb(225, 0, 80);
    }

    &_blue {
      background-color: #2196f3;
    }
  }
} */
